.Rproj.user
.Rhistory
.RData
tech-talk.aux
tech-talk.log
tech-talk.out
tech-talk.pdf
tech-talk.tex
tech-talk-concordance.tex
tech-talk.nav
tech-talk.snm
tech-talk.synctex.gz
tech-talk.toc
tech-talk.vrb
